@model IEnumerable<app_house.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casaname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casa.Casaname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Clienteapellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Alquilerid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Alquilerid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Alquilerid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
