@model IEnumerable<app_house.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="BotonCrear">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casa)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.MontoTotal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casaname)
            </td>
             <td>
                @{
                    var base64 = Convert.ToBase64String(item.imagencasa);
                    var imgsrc = String.Format("data:image/png;base64,{0}", base64);
                 }
                 <img src="@imgsrc" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Clienteapellido)
            </td>
        </tr>
}
    </tbody>
</table>
