@model IEnumerable<app_house.Models.Casa>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Casa</h1>

<p>
    <a asp-action="Create" class="BotonCrear">Crear Nuevo</a>
</p>
<table class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dueñoname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagencasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eliminada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alquilada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dueñoname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casaname)
            </td>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.imagencasa);
                    var imgsrc = String.Format("data:image/png;base64,{0}", base64);
                 }
                 <img src="@imgsrc" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoF)
            </td>
            <td>
                @(item.eliminada?"Esta casa fue eliminada":"esta casa esta sin eliminar")
            </td>
            <td>
                @(item.alquilada?"Esta casa ya fue alquilada":"esta casa esta disponible")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                <a asp-action="Edit" class="BotonEditar mt-5" asp-route-id="@item.Casaid">Editar</a> ||
                <a class="BotonEliminar mt-5" onclick="eliminarcasa(@item.Casaid)">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
