@model IEnumerable<app_house.Models.Casa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dueñoname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagencasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dueñoname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casaname)
            </td>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.imagencasa);
                    var imgsrc = String.Format("data:image/png;base64,{0}", base64);
                 }
                 <img src="@imgsrc" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
        </tr>
}
    </tbody>
</table>
