@model IEnumerable<app_house.Models.Devolver>

@{
    ViewData["Title"] = "Devolver";
}



<p>
    <a asp-action="Create" class="BotonCrear">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alquilerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casaname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Casa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alquilerid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casaname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Clienteapellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Casa.Casaname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Devolverid">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
